@import "tailwindcss";
.nav-link{
    padding: 16px;
}
.nav-link{
    @apply hover:text-blue-500
}
.input{
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400
}
.textarea {
  width: 100%; /* Occupy full width of parent */
  height: 200px; /* Set a fixed height */
  margin-top: 12px;
  background-color: #ffffff ; /* Light background */
  font-family: Arial, sans-serif; /* Specify font */
  font-size: 16px; /* Set font size */
  color: #1d1d1d; /* Dark gray text color */
  resize: vertical; /* Allow only vertical resizing */
  box-sizing: border-box; /* Include padding/border in width/height */
  outline: none;
}

/* .textarea:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
} */

.textarea::placeholder {
  color: #999; /* Style placeholder text color */
}
.post-like button{
  padding: 6px 0;
}
.post-like button:hover{
  background: #dcdcdc;
  border-radius: 5px;
}
.edit{
  z-index: 100;
}